package ${modelPackage};


import com.baj.newretail.platform.utils.PageParam;
import java.io.Serializable;
import lombok.Data;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#if (${hasDate})
import java.util.Date;
#end

#if (${hasBigdecimal})
import java.math.BigDecimal;
#end

/**
 * <p>
 *${remark}
 * </p>
 * 
 * @author yangkang
 * @date ${dateTime}
 * @version
 */
@Data
@ApiModel("$!{remark}")
public class ${beanName}Query extends PageParam implements Serializable {
    private static final long serialVersionUID = -4415234688476992411L;
#foreach ($item in $columns)
#if($item.lowerProperty !='id' && $item.lowerProperty !='creatorId' && $item.lowerProperty !='createTime' && $item.lowerProperty !='lastModifierId' && $item.lowerProperty !='modifiedTime' && $item.lowerProperty !='deleted')
#if (${item.remark} && ${item.remark}!='' )
    /**
    * $!{item.remark}
    */
#end
    @ApiModelProperty("$!{item.remark}")
    private $!{item.type} $!{item.lowerProperty};
#end
#end

}